= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :delete }) do |f|
  .general-settings-btn
    = f.submit t('settings.remove_btn'), class: 'btn btn-default mb-20'
  .form-group.checkbox.general-settings-checkbox
    %label.checkbox-label
      = check_box_tag :destroying_confirmation, 1, false, class: 'checkbox-input', hidden: true
      %span.checkbox-icon
        %i.fa.fa-check
      %span.checkbox-text= t('settings.understand')