.col-sm-8
  = render 'shared/summary', class: 'res-mr-200 text-center general-text-right',
                             table_class: 'general-summary-table-right general-text-right',
                             order: @order