- content_for :title, t('application.shop'), flush: true

- content_for :additional_options, '', flush: true

%li
  = link_to t('categories.all'), books_path, class: local_assigns[:link_class]
- categories.each do |category|
  %li
    = link_to category.name, books_path(category), class: local_assigns[:link_class]