- content_for :checkout do
  %main.container.general-main-wrap
    %h1.general-title-margin= t('checkout.checkout')
    = render 'checkout/steps_list'
    = yield 

= render template: 'layouts/application'